services:
  postgres:
    image: postgres:15-alpine
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d shortener_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    container_name: url-shortener-db
    environment:
      POSTGRES_DB: shortener_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
    container_name: url-shortener-redis
    ports:
      - "6379:6379"
  app:
    build: .
    container_name: url-shortener-app
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASS=password
      - REDIS_HOST=redis